name: release-peek

on:
  push:
    tags:
      - "v*" # Trigger when version tag like v1.0.0 is pushed

jobs:
  release:
    name: Build and Release Peek
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build release binary
        run: cargo build --release --target ${{ matrix.target }}
      - name: Prepare artifact
        run: |
          mkdir dist
          cd target/${{ matrix.target }}/release
          tar czf ../../../dist/peek-${{ matrix.target }}.tar.gz peek
          cd ../../../

      - name: Upload artifact
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  aur:
    name: Package for Arch Linux
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dArch packaging tools
        run: sudo apt-get update && sudo apt-get install -y base-devel fakeroot

      - name: Build AUR package
        run: |
          tar czf peek-aur.tar.gz PKGBUILD
          echo "Arch package source prepared: peek-aur.tar.gz"

      - name: Update PKGBUILD version
        run: |
            VERSION="${GITHUB_REF_NAME#v}"
            sed -i "s/pkgver=.*/pkgver=${VERSION}/" PKGBUILD
            sed -i "s/pkgrel=.*/pkgrel=1/" PKGBUILD

      - name: Upload PKGBUILD to release
        uses: softprops/action-gh-release@v2
        with:
          files: peek-aur.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
